.initLoader {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000
}

.initLoader:after,
.initLoader:before {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    background: #0060db;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    width: 50%
}

.initLoader:before {
    left: 0
}

.initLoader:after {
    right: 0
}

.initLoader.active:before {
    left: -50%
}

.initLoader.active:after {
    right: -50%
}

.initLoader .loader {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    display: block;
    z-index: 10001;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    visibility: visible
}

.initLoader .loader .anim_1 {
    display: block;
    border: 3px solid #0060db;
    border-radius: 50%;
    border-top: 3px solid #004dc2;
    /* border-bottom: 3px solid #004dc2; */
    width: 200px;
    height: 200px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    animation-direction: ;
}

.initLoader .loader .anim_2 {
    display: none;
    border: 3px solid #0060db;
    border-radius: 50%;
    border-top: 3px solid #004dc2;
    border-bottom: 3px solid #004dc2;
    width: 120px;
    height: 120px;
    -webkit-animation: spin_2 3s linear infinite;
    animation: spin_2 3s linear infinite;
    animation-direction: alternate;
    position: relative;
    top: 20px;
    left: 20px
}

.initLoader .loader .anim_3 {
	width: 130px;
	height: 60px;
	top: 70px;
	left: 35px;
	position: relative;
	display: block;
	background: url("216fdab46f14cb91_mascote-azul.png");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-animation: pulse 1s linear infinite;
    animation: pulse 1s linear infinite;
    animation-direction: alternate;
}

.initLoader .loader.active {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    visibility: hidden
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin_2 {
    0% {
        -webkit-transform: rotate(3600deg)
    }
    100% {
        -webkit-transform: rotate(0)
    }
}

@keyframes spin_2 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1.1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}