SUPABASE_URL=https://rerpdrklkqfsfvinujyt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcnBkcmtsa3Fmc2Z2aW51anl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MDY3NjQsImV4cCI6MjEwNTE4Mjc2NH0.aCP8T3B8qbOIY-mxkBR41yzoRpb3D1fVd6BW5BeLK98

